extends layouts/main_layout.pug

block content
    h1 About Us
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis excepturi molestias aliquam? Deleniti modi facilis expedita nesciunt deserunt quos, id aperiam quibusdam eligendi possimus velit in, numquam error fugiat!