<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/add_post.css" />
</head>
<body>
    <h1>Add Post</h1>
    <form action="/admin/add-post" method="POST">
        <label for="title">
            Title:
            <input type="text" id="title" name="title">
        </label>
        <input type="submit" value="Send" />
    </form>
</body>
</html>