extends layouts/main_layout.pug

block styles
    link(rel="stylesheet", href="/css/home.css")

block content
    if allPosts.length > 0
        ul
            each post in allPosts
                li #{post.title}
    else
        h2 No Posts
